{% extends "network/layout.html" %}

{% block body %}
    <h3>Profile of {{ user_name }}</h3>

    <p>Followed by: {{ followed_by}}</p>
    <p>Follows: {{ follows }}</p>
    
    {% if user.is_authenticated or user_check == '0' %}
        <button type="button">Follow the user</button>
    {% endif %}

    <div>
        {% for post in posts %}
        <div>
            <p>-----------</p>
            <a href="{% url 'profile' post.creator %}"><p>{{ post.creator }}</p></a>
            <p>{{ post.post_text }}</p>
            <p>{{ post.post_time }}</p>
            <p>Likes: {{ post.post_likes }}</p>
        </div>
        {% endfor %}
    </div>

{% endblock %}