{% extends "network/layout.html" %}
{% load static %}   

{% block body %}
    <div class="heading">
        <h3>Profile of {{ user_name }}</h3>

        <p>Followed by: {{ followed_nr}}</p>
        <p>Follows: {{ follows_nr }}</p>

        {% if user.is_authenticated and user_check == 0 %}
        
            <form action = "{% url 'profile' user_name %}" method="post" id="follow-form">
                {% csrf_token %}
                <input type="hidden" id="custId" name="follow" value="{{ follow }}">
                <input type="submit" class="btn btn-outline-success follow" 
                    value="{% if follow %}Unfollow{% else %}Follow{% endif %}" 
                    id="follow-button">
                </input>
            </form>
        {% endif %}
    </div>

    <div>
        {% for post in posts %}
        <div class="rcorners2">
            <a href="{% url 'profile' user_name %}" id="post-creator-{{ post.id }}"><p class="thick">{{ user_name }}</p></a>
            <p id="post-text-{{ post.id }}">{{ post.post_text }}</p>
            <p class="sm-italic">{{ post.post_time }}</p>
            <div class="inline">
                {% if user in post.likes.all %}
                    <i class="bi bi-heart-fill heart" like-id="{{ post.id }}"></i>
                {% else %}
                    <i class="bi bi-heart heart" like-id="{{ post.id }}"></i>
                {% endif %}
                <p id = "like-count-{{ post.id }}" class="margin-left">Likes: {{ post.likes.count }}</p>
            </div>

            {% if user.is_authenticated and post.creator == user %}
                <button type="button" class="btn btn-primary btn-sm edit-post" data-post-id="{{ post.id }}">Edit</button>
                <button type="button" class="btn btn-primary btn-sm save-post" id="save-button-{{ post.id }}" hidden="hidden">Save</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <div class="btn-navigation">
            <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>  
            {% endif %}
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>

{% endblock %}

{% block script %}
    <script type="module" src="{% static 'network/profile.js' %}"></script>
{% endblock %}
